{% extends "base.html" %}

{% block main %}
<h1>Hi,{{ user.username.upper() }}!</h1>
{% if user.last_seen %}
<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
{% endif %}
  {% for task in tasks %}
    <div class="card">
      <div class="card-body">
        <div class="duedate">
          {% if task.duedate|string() >= task.date|string() %}
          <h3><b> Due Date: {{ moment(task.duedate).format('LL') }}</b></h3>
          {% else %}
          <h3><b><span style="color: red;">Past Due</span></b></h3>
          {% endif %}
          <h2>{{ task.title }}</h2>
          <p>Added on {{ moment(task.date).format('LLL') }}</p>
          <p>{{moment(task.date).fromNow()}}</p>
          <a href="{{ url_for('edit', task_id=task.id) }}" class="btn btn-primary">Edit</a>
          <a href="{{ url_for('delete', task_id=task.id)}}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}