<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<title>Reset Password</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav ml-auto">
        {% if current_user.is_anonymous %}
        <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Login</a></li>
        {% else %}
        <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
        {% endif %}
    </ul>
    </nav>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary">
        {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <br>
    <div id="Parent" style="text-align: center;">
    <h1>Reset Password</h1>
    <form id="reset" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
</div>
</body>
</html>
